certifi==2022.12.7
chardet==3.0.4
Django==2.0.1
gunicorn==19.7.1
heroku==0.1.4
idna==2.6
python-dateutil==1.5
pytz==2017.3
requests==2.18.4
static3==0.7.0
urllib3==1.22
waitress==1.1.0
whitenoise==3.3.1
